body {
   background: lightgrey;
}

h1 {
    color: blue;
}

p {
    color: green;
}

.btn-primary:hover {
    background: white;
    color: blue;
}

#news {
    background: white;
    float: left;
    align-items: center;
    margin: 5px;
    border: 2px solid black;
    padding: 25px;
    /*overflow: auto;*/
}

H2 {
    display: inline-flex;
    max-height: 200px;
    max-width: 100%;
}

IMG {
    display: flex;
    flex-direction: column;
    float: right;
    max-height: 200px;
    max-width: 300px; 
    border: 2px solid blue;
}

H4 {
    display: inline-flex;
    flex-direction: column;
    float: left;
    color: green;
    font-weight: bold;
    max-height: 600px;
    max-width: 400px; 
}