body {
   background: beige;
}

h1 {
    color: blue;
}

p {
    color: green;
}

.btn-primary:hover {
    background: white;
    color: blue;
}

#news {
    background: lightgrey;
    float: left;
    align-items: center;
    margin: 15px;
    border: 2px solid black;
    padding: 15px;
    /*overflow: auto;*/
}

.row {
    display: inline-flex;
    flex-direction: row;
    background: white;
    max-height: 250px;
    max-width: 100%;
    margin: 15px;
    padding: 2px;
}

H2 {
    display: flex;
    flex-direction: column;
    margin: 5px;
    max-height: 200px;
    max-width: 350px;
}

IMG {
    display: flex;
    flex-direction: column;
    max-height: 200px;
    max-width: 300px; 
    border: 2px solid blue;
    margin: 5px;
}

H4 {
    display: flex;
    flex-direction: column;
    margin: 5px;
    color: green;
    font-weight: bold;
    max-height: 200px;
    max-width: 300px; 
}